### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
*.egg-info

# C extensions
*.so

.idea/

*.bak

# pyenv
.python-version

.env
data/

.cpcache/
.nrepl-port