### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
*.egg-info

# C extensions
*.so

.idea/

*.bak

# pyenv
.python-version
.venv/

.env
data/

.cpcache/
.nrepl-port

*.temp
build/
log/

tests/testdata/db
test-data/

.coverage*
.mypy_cache/
