name: wordprofile
services:
  db:
    image: mariadb:12
    environment:
      MYSQL_DATABASE: "wp"
      MYSQL_USER: "wp"
      MYSQL_PASSWORD: "wp"
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
    volumes:
      - db:/var/lib/mysql
    ports:
      - "3306:3306"
    command:
      ["--character-set-server=utf8mb4",
      "--collation-server=utf8mb4_bin"]
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 1m
      start_interval: 10s
      interval: 1m
      timeout: 5s
      retries: 3
  api:
    image: docker.zdl.org/zdl-wordprofile/api
    build:
      context: .
    environment:
      WP_DB_HOST: "db"
    ports:
      - "8086:8086"

volumes:
  db:
