[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
starlette = "0.40.0"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
mypy = "*"
isort ="*"

[requires]
python_version = "3.12"

[build]
conllu = "*"
click = "*"
sqlalchemy = "*"

[prep]
click = "*"
conllu = "*"
typing-extensions = "*"
spacy = {extras = ["cuda11x"], version = "*"}
spacy-transformers = "*"

[api]
jinja2 = "*"
fastapi = "0.115.2"
uvicorn = {extras = ["standard"], version = "*"}
