[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
starlette = "*"

[dev-packages]
autoflake = "*"
flake8 = "*"
pytest = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.8"

[build]
conllu = "*"
trankit = "*"

[prep]
click = "*"
typing-extensions = "*"

[api]
jinja2 = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
