click==7.1.2
conllu==3.1.1
#de-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.3.0/de_core_news_lg-3.3.0-py3-none-any.whl
#de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.3.0/de_core_news_sm-3.3.0-py3-none-any.whl
#de-dep-hdt-dist @ https://huggingface.co/reneknaebel/de_dep_hdt_dist/resolve/main/de_dep_hdt_dist-any-py3-none-any.whl
#de-dep-hdt-lg @ file:///home/knaebel/projects/spacy_pipeline_ud/hdt/packages/de_dep_hdt_lg-0.1.0
#de-dep-hdt-sm @ https://huggingface.co/reneknaebel/de_dep_hdt_sm/resolve/main/de_dep_hdt_sm-any-py3-none-any.whl
#de-ud-trf-dwds @ file:///home/knaebel/projects/spacy_pipeline_ud/packages/de_ud_trf_dwds-0.1.0/dist/de_ud_trf_dwds-0.1.0.tar.gz
spacy==3.4.1
spacy-transformers==1.1.8
SQLAlchemy==1.4.35
tabulate==0.8.9
termcolor==1.1.0
torch==1.11.0
tqdm==4.64.0
trankit==1.1.1
