name: test
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: mariadb:12
        env:
          MYSQL_DATABASE: "wp"
          MYSQL_USER: "wp"
          MYSQL_PASSWORD: "wp"
          MYSQL_RANDOM_ROOT_PASSWORD: "yes"
        ports:
          - 3306:3306
    steps:
    - name: Check out sources
      uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Cache Python Dependencies
      uses: actions/cache@v3
      id: cache-python
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-python-env
    - name: Install Python dependencies
      if: steps.cache-python.outputs.cache-hit != 'true'
      run: |
        pip install -U 'pip<25.3' pip-tools setuptools
        pip-sync requirements/*.txt
    - name: Run tests
      run: |
        WP_SKIP_TEST_DB_FIXTURE=1 pytest
